[submodule "src/utils/filewatch"]
	path = src/utils/filewatch
	url = https://github.com/ThomasMonkman/filewatch
[submodule "src/games/chess"]
	path = src/games/chess
	url = https://github.com/ruslan-ilesik/cpp-chess
